.post-container {
    position: relative;
}

.post-content {
    white-space: pre-wrap;
    overflow: hidden;
    max-height: calc(1.5em * 4);
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

.post-expanded .post-content {
    max-height: 2000px;
}

.toggle-btn {
    display: inline-block;
}

