@page "{pageId:int}"
@model RoundaboutBlog.Pages.Post.Index

<p>Post Page</p>

<div class="container mt-4">
    @* <div class="row"> *@
    @*     <div class="col-12 mb-4"> *@
    @*         <div class="card"> *@
    @*             <div class="card-header d-flex justify-content-between align-items-center"> *@
    @*                 <a asp-page="/Page" asp-route-pageId> *@
    @*                     <h3 class="card-text mb-0">@post.Title</h3> *@
    @*                 </a> *@
    @*                 <a class="btn btn-info" asp-page="/Post/Edit" asp-route-postId="@post.PostId">Edit</a> *@
    @*             </div> *@
    @*             <div class="card-body"> *@
    @*                 <div class="content-container"> *@
    @*                     <p class="card-text content">@post.Content</p> *@
    @*                     <div class="d-flex justify-content-end"> *@
    @*                         <button class="toggle-btn btn btn-link p-0">Read more</button> *@
    @*                     </div> *@
    @*                 </div> *@
    @*             </div> *@
    @*             <div class="card-footer text-end text-muted"> *@
    @*                 Author - @post.CreatedAt.ToString("MMM dd, yyyy h:mm tt") *@
    @*             </div> *@
    @*         </div> *@
    @*     </div> *@
    @* </div> *@
</div>
